

body { 
  font-family: 'Raleway Light'; 
  font-size: 14px;
  color: #2d2d2d;
}
header {
  font-family: 'Raleway Light Bold'; 
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1, h2 {
  font-family: 'Playfair Display Bold';
}

em {
  font-family: 'Playfair Display Italic';
}

strong {
  font-family: 'Playfair Display Bold';
}

/* Header-------------------------------------  */
 
header {
  display: -ms-flexbox;
  display: flex;
  height: 6.5rem;
  margin: .5rem;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
 }
header a {
  font-size: .8rem;
  text-transform: uppercase;
  color: #e2574c;
}

a:hover {
  color: #b64036;
}
.nav {
    line-height: 2rem;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    -ms-flex-item-align: center;
    align-self: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-positive: 10;
    flex-grow: 10;
    -ms-flex-pack: center;
    justify-content: center;
}
nav {
  width: 95%;
  padding: .5rem;
  border-top: 1px #d7d7d7 solid;
}

.n-item {
    padding: 0 1rem;
    text-align: center;
    -ms-flex: 0 1 1rem;
    flex: 0 1 1rem;
}
header img {
  max-height: 3rem;
  padding: .5rem;
}

/* Hero ------------------------------------------- */



.hero {
   background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)),url(../images/banner-girl.png) no-repeat center 60px,url(../images/flower-bkgd.jpg) repeat-x top;
   background-size: cover,150px 369px,cover;
   height: 14rem;
   position: relative;
   color: #fff;
   text-align: center;
   padding-top: 8.5rem;
   } 

.hero p {
    text-transform: uppercase;
    text-shadow: 1px 1px grey;
    font-size: 1.2rem;
    font-weight: 600;
    display: block;
}
h1 {
  font-size: 2rem;
  font-weight: 400;
  padding: 0 4rem;
  text-shadow: 1px 1px #969696;
}
 
/* "Hand-Crafted Styles" Main----------------*/
h2 {
  font-size: 2rem;
  line-height: 2rem;
  margin-top: 1rem;
  padding-top: 2rem;
  padding-bottom: 1.7rem;
  display: block;
  text-align: center;
}


.about p {
  font-family: 'Raleway Light';
  font-size: 0.9rem;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 3rem;
  color: #242424;
  line-height: 2rem;
  display: block;
  text-align: center;
}

.category{
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  text-shadow: 2px 2px 4px grey;
}

.mens, .trends, .glasses, .sale, .bags, .womens {
  font-family: 'Raleway Light Bold';
  font-weight: bold;
  font-size: 1.5rem;
  padding-top: 22%;
  padding-bottom: 22%;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-position: center, center;
  background-size: cover, cover;
}

.mens a, 
.trends a, 
.glasses a, 
.sale a, 
.bags a, 
.womens a
{
  color: white;
}

.mens a:hover, 
.trends a:hover, 
.glasses a:hover, 
.sale a:hover, 
.bags a:hover, 
.womens a:hover
{
  color: skyblue;;
}


.trends, .glasses, .sale, .bags {
  max-width: 50%;
  -ms-flex: 1 1 48%;
  flex: 1 1 48%;
}

.mens, .womens {
  max-width: 100%;
  -ms-flex: 2 1 100%;
  flex: 2 1 100%;
}

.mens {
    background-image: linear-gradient(to bottom,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)),url('../images/mens-category.jpg');
}

.trends {
  margin: .5rem .5rem .5rem 0;
  background-image: linear-gradient(to bottom,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)),url('../images/trends-category.jpg');
}
.glasses {
  margin: .5rem 0;
  background-image: linear-gradient(to bottom,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)),url('../images/glasses-category.jpg');
}

.sale {
  background-image: linear-gradient(to bottom,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)),url('../images/sale-category.jpg');
  margin: 0 .5rem .5rem 0;
}
.bags {
  margin-bottom: .5rem;
  background-image: linear-gradient(to bottom,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)),url('../images/bags-category.jpg');
}
.womens {
  background-image: linear-gradient(to bottom,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)),url('../images/womens-category.jpg');
}

/*Most Loved Carousel style-------------------*/
.flickity-page-dots {
  margin-bottom: 1.5rem;
}
.product-list {
  height: 32rem;
  padding-bottom: .5rem;
  text-align: center;
}

.product-wrapper {
  width: 100%;
  margin-bottom: 0;
  padding-top: 2rem;
}

h4 {
  font-family: 'Playfair Display';
  font-size: 1.3rem;
  font-weight: 400;
  margin-top: .5rem;
  margin-bottom: 0.8rem;
  padding-bottom: 0;
  color: #e2574c;
} 

h5, h3 {
  font-family: 'Raleway Light';
  color: #969696;
}

h5 {
  font-size: .9rem;
  line-height: .9rem;
  padding: 0;
}

h3 {
  font-size: .7rem;
  margin-top: .5rem;
  margin-bottom: 0;
  text-transform: uppercase;
}


/* updates section----------------------*/

.email {
  height: 17.5rem;
  margin-top: 2rem;
  padding-top: .2rem;
  padding-bottom: 1rem;
  text-align: center;
  color: white;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .2) 0%, rgba(0, 0, 0, .2) 100%), url('../images/wave-bkgd.jpg');
  background-position: bottom, bottom;
  background-size: cover, 90rem;
}
.email p {
  font-family: 'Raleway Light';
  font-size: 0.9rem;
  margin-top: 0;
}
.email h2 {
  text-shadow: 2px 2px #969696;
}
.sign-up-form { 
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 1.5rem auto;
  padding: .2rem .2rem .2rem .6rem;
  border-radius: 2rem;
  background-color: white;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
  

.email input {
  font-family: 'Raleway Light';
  font-size: 0.8rem;
  border: none;
}

button {
  float: right;
  width: 25%;
  min-width: 110px;
  max-width: 110px;
  padding: .5rem 1rem;
  text-align: center;
  color: white;
  border: none;
  border-color: white;
  border-radius: 2rem;
  background-color: #e2574c;
  box-shadow: none;
  text-shadow: none;
  font-family: 'Raleway Light';
}

/*contact info */
.my-footer{
  background-color: black;
  color: white;
  font-family: Playfair Display Web,serif;
  padding: 4rem 0;
  text-align: center;
}


.social{
    margin-top: 2rem;
    width: 100%;
}
.social li {
    display: inline-block;
}
.fa {
   color: white;
}
.network-name{display:none;}


@media only screen and (min-width:600px) {
    html { 
      font-size:16px
      }
    .main-navigation ul {
      border-top:0;padding-top:0
      }
    .logo {
      -ms-flex-order:1;order:1;-ms-flex-preferred-size:20%;flex-basis:20%
      }
    .logo img{max-width:120px}
    .cart{-ms-flex-preferred-size:20%;flex-basis:20%;-ms-flex-order:3;order:3;width:48px}
    .main-navigation{
      -ms-flex-preferred-size:60%;
      flex-basis:60%;
      border-top: none;
      position: relative;
      top: -40px;
    }
    .main-navigation li {
      font-size:.9rem;margin:0 .5rem
      }
    .about-text { max-width:720px
    }
    .category-fullsize { -ms-flex-preferred-size:50%;flex-basis:50%
    }
    .category-halfsize {
      -ms-flex-preferred-size:25%;flex-basis:25%
      }
    .ctegory-name {
      font-size:1.8rem
      }
   .product-wrapper {
     float:left;width:50%
     }
   .product-wrapper {
     width:50%
     }
     .sign-up-wrapper {
       max-width:720px
       }
  .sign-up-form {
    width:67%
    }
    .my-footer {
      text-align:left
      }
  .my-footer  {
  display:-ms-flexbox;
  display:flex;
  -ms-flex-pack:justify;
  justify-content:space-between
  }
.social {
  margin-top:0;padding-right:2rem
  }
.social li {
  display:block
  }
.network-name {
  display:inline 
  }}

@media only screen and (min-width:1240px){
  .container {
    max-width:1240px
    }
  .logo img {
    max-width:160px
    }
  .cart {
    width:62px
    }
  .main-navigation li {
    font-size:1rem;
    margin:1rem
    }
  .hero {
    background-size:cover,250px 615px,contain;
    height:550px;
    position:relative
    }
  .about-text {
    width:720px
    }
  .category-name {
      font-size:2.4rem
      }
  .product-wrapper,.product-wrapper {
        margin-bottom:0;
        width:25%
        }
  .sign-up-wrapper
   {
     width:720px
     }
   .social {
       padding-right:4rem
       }}

/* accessibility*/ 
/*skip list*/
#main[tabindex="-1"]:focus {
   outline: 0;
}   
.screen-reader-text {
   clip: rect(1px, 1px, 1px, 1px);
   position: absolute !important;
   height: 1px;
   width: 1px;
   overflow: hidden;
} 
.screen-reader-text:focus {
   clip: auto !important;
   display: block;
   height: auto;
   left: 5px;
   top: 5px;
   width: auto;
   z-index: 100000; /* above all content */
}  