* {
    box-sizing: border-box;
    outline: none;
}
@font-face {
    font-family: ‘playfair_displaybold’;
    src: url(‘playfairdisplay-bold-webfont.woff2’) format(‘woff2’),
         url(‘playfairdisplay-bold-webfont.woff’) format(‘woff’);
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: ‘playfair_displaybold_italic’;
    src: url(‘playfairdisplay-bolditalic-webfont.woff2’) format(‘woff2’),
         url(‘playfairdisplay-bolditalic-webfont.woff’) format(‘woff’);
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: ‘playfair_displayitalic’;
    src: url(‘playfairdisplay-italic-webfont.woff2’) format(‘woff2’),
         url(‘playfairdisplay-italic-webfont.woff’) format(‘woff’);
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: ‘playfair_displayregular’;
    src: url(‘playfairdisplay-regular-webfont.woff2’) format(‘woff2’),
         url(‘playfairdisplay-regular-webfont.woff’) format(‘woff’);
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: ‘raleway’;
    src: url(‘raleway-light-webfont.woff2’) format(‘woff2’),
         url(‘raleway-light-webfont.woff’) format(‘woff’);
    font-weight: lighter;
    font-style: normal;

}

@font-face {
    font-family: ‘ralewaylight_italic’;
    src: url(‘raleway-lightitalic-webfont.woff2’) format(‘woff2’),
         url(‘raleway-lightitalic-webfont.woff’) format(‘woff’);
    font-weight: lighter;
    font-style: italic;

}

@font-face {
    font-family: ‘ralewaymedium’;
    src: url(‘raleway-medium-webfont.woff2’) format(‘woff2’),
         url(‘raleway-medium-webfont.woff’) format(‘woff’);
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: ‘ralewaymedium_italic’;
    src: url(‘raleway-mediumitalic-webfont.woff2’) format(‘woff2’),
         url(‘raleway-mediumitalic-webfont.woff’) format(‘woff’);
    font-weight: bold;
    font-style: italic;

}

.container {
  padding:0 2%;
  margin:0 auto;
  width:100%
  }
section { padding:4rem 0
}
section h2 { text-align:center
}
section {
    padding: 4rem 0;
}
body,button,input,select,textarea {
  color:#2d2d2d;
  font-family:Raleway Web,sans-serif;
  font-size:1rem;
  font-style:normal;
  font-weight:400;
  line-height:2}
  h1,h2,h3 { 
    font-family:Playfair Display Web,serif;
    line-height:1
    }
  .about h2 {
    font-family:Playfair Display Web,serif;
    font-style: italic;  
    font-size:2.4rem;}
  h3 { 
    font-size:1.5rem;
    margin-bottom:1rem
    }
  a,h3 {
    color:#e2574c
    }
a:hover {
  color:#b64036
  }
  

section h2 { text-align:center;
}


.logo {
  width: 200px;
  }
.logo img{
    width: 100%;
  }
.main-navigation{
  width: 100%;
  max-width: 2140px;
  margin: 0px auto;
  border-top: 1px solid gray;
}
.log-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart {
  width:50px;
  }

nav a{
  text-decoration: none;
  text-align: center;
  color: red;
  display: block;
  padding: 10px;
}
nav ul
{
  display: flex;
  justify-content: center;
  }




.hero {
   background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)),url(../images/banner-girl.png) no-repeat center 60px,url(../images/flower-bkgd.jpg) repeat-x top;
   background-size: cover,150px 369px,cover;
   height: 400px;
    position: relative;
   } 
.collection {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
}
.banner-text {
   color: #fff;
    font-weight: 750;
    left: 50%;
    line-height: 1;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
}
.container{
    padding: 0 2%;
    margin: 0 auto;
    width: 100%;
}   



.about-text p{font-size:1.15rem}
.about {
    text-align: center;
}
.bold {
  font-weight: 700;
  font-style:normal;
}
h2 {font-family:Playfair Display Web;
    font-size: 2.4rem;
    font-style: italic;
    margin-bottom: 1.5rem;
}


.products {
    padding: 0;
}  

.products{
      padding: 0;
}
.category-container{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
}
.category-fullsize.mens {
    background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)),url(../images/mens-category.jpg) no-repeat 50%;
    background-size: cover,cover;
}
.category-fullsize:before {
    padding-top: 50%;
}
.ctegory-name {
    color: #fff;
    font-family: Raleway Web,sans-serif;
    font-size: 1.6rem;
    height: auto;
    left: 50%;
    line-height: 1;
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    transform: translate(-50%,-50%);
}
.category-halfsize.trends {
    background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)),url(../images/trends-category.jpg) no-repeat 50%;
    background-size: cover,cover;
}
.category-halfsize.glasses {
    background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)),url(../images/glasses-category.jpg) no-repeat 50%;
    background-size: cover,cover;
}
.category-halfsize {
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    max-width: 50%;
}
.category-fullsize {
    border-left: 0;
    border-right: 0;
    -ms-flex: 2 0 100%;
    flex: 2 0 100%;
    max-width: 100%;
}

.category-halfsize, .category-fullsize {
    border: 4px solid #fff;
    position: relative;
}
.category-halfsize:before, .category-fullsize:before {
    content: "";
    display: block;
}
.category-halfsize:before{
  padding-top:100%
    }
.category-fullsize:before{padding-top:50%}
.category-fullsize{
  border-left:0;
  border-right: 0
}
.category-halfsize{
  border-right: 0;
  border-left: 0;
}



.ctegory-name a {
    color: #fff;
    text-decoration: none;
}
.category-halfsize.sale {
    background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)),url(../images/sale-category.jpg) no-repeat 50%;
    background-size: cover,cover;
}
.category-halfsize.bags {
    background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)),url(../images/bags-category.jpg) no-repeat 50%;
    background-size: cover,cover;
}
.category-fullsize.womens {
    background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)),url(../images/womens-category.jpg) no-repeat 50%;
    background-size: cover,cover;
}
.category-halfsize:nth-child(2n) {
    border-left: 0;
}
.category-square:nth-child(odd) {
    border-right: 0;
}



.product-wrapper {
    padding: 2rem 1rem;
    text-align: center;
    width: 100%;
}
.flickity-enabled {
    position: relative;
}
.flickity-slider {
    position: absolute;
    width: 100%;
    height: 100%;
}
element.style {
    left: 0px;
    transform: translateX(-2705px);
}
element.style {
  position: absolute;
  left: 0px;
}
.featured .container {
    padding: 0;
}
.product-list:focus{outline:thin dotted}
.featured h2 {
  font-style: italic; 
    font-size:2.4rem;
    }




.sign-up-wrapper h2 {font-family:Playfair Display Web,serif;font-style: italic; font-size: 2.4rem}
.sign-up-wrapper {
    text-align: center;
    margin-top: 50px;
}
.sign-up-form {
    display: block;
    margin: 2rem auto 0;
    position: relative;
    width: 90%;
}
.newsletter {
    background: linear-gradient(180deg,rgba(0,0,0,.15) 0,rgba(0,0,0,.15)),url(../images/wave-bkgd.jpg) no-repeat bottom;
    color: #fff;
    margin-bottom: 8px;
}
.sign-up-form{display:block;margin:2rem auto 0;position:relative;width:90%}input[type=email],input[type=submit]{border:0;border-radius:25px}input[type=email]:focus,input[type=submit]:focus{outline:none}input[type=email]{padding:.5rem 1.75rem;padding-right:150px;width:100%}input[type=email]:focus{box-shadow:1px 1px 6px hsla(0,0%,39%,.8)}input[type=submit]{background-color:#e2574c;color:#fff;cursor:pointer;font-weight:700;padding:.25rem 1.5rem;position:absolute;right:.25rem;top:.25rem}input[type=submit]:focus,input[type=submit]:hover{background-color:#b64036}


.my-footer{
  background-color: black;
  color: white;
  font-family: Playfair Display Web,serif;
  padding: 4rem 0;
  text-align: center;
}


.social{
    margin-top: 2rem;
    width: 100%;
}
.social li {
    display: inline-block;
}
.fa {
   color: white;
}
.network-name{display:none;}


@media only screen and (min-width:600px) {
    html { 
      font-size:16px
      }
    .main-navigation ul {
      border-top:0;padding-top:0
      }
    .logo {
      -ms-flex-order:1;order:1;-ms-flex-preferred-size:20%;flex-basis:20%
      }
    .logo img{max-width:120px}
    .cart{-ms-flex-preferred-size:20%;flex-basis:20%;-ms-flex-order:3;order:3;width:48px}
    .main-navigation{
      -ms-flex-preferred-size:60%;
      flex-basis:60%;
      border-top: none;
      position: relative;
      top: -40px;
    }
    .main-navigation li {
      font-size:.9rem;margin:0 .5rem
      }
    .about-text { max-width:720px
    }
    .category-fullsize { -ms-flex-preferred-size:50%;flex-basis:50%
    }
    .category-halfsize {
      -ms-flex-preferred-size:25%;flex-basis:25%
      }
    .ctegory-name {
      font-size:1.8rem
      }
   .product-wrapper {
     float:left;width:50%
     }
   .product-wrapper {
     width:50%
     }
     .sign-up-wrapper {
       max-width:720px
       }
  .sign-up-form {
    width:67%
    }
    .my-footer {
      text-align:left
      }
  .my-footer  {
  display:-ms-flexbox;
  display:flex;
  -ms-flex-pack:justify;
  justify-content:space-between
  }
.social {
  margin-top:0;padding-right:2rem
  }
.social li {
  display:block
  }
.network-name {
  display:inline 
  }}

@media only screen and (min-width:1240px){
  .container {
    max-width:1240px
    }
  .logo img {
    max-width:160px
    }
  .cart {
    width:62px
    }
  .main-navigation li {
    font-size:1rem;
    margin:1rem
    }
  .hero {
    background-size:cover,250px 615px,contain;
    height:550px;
    position:relative
    }
  .about-text {
    width:720px
    }
  .category-name {
      font-size:2.4rem
      }
  .product-wrapper,.product-wrapper {
        margin-bottom:0;
        width:25%
        }
  .sign-up-wrapper
   {
     width:720px
     }
   .social {
       padding-right:4rem
       }}

/* accessibility*/ 
/*skip list*/
#main[tabindex="-1"]:focus {
   outline: 0;
}   
.screen-reader-text {
   clip: rect(1px, 1px, 1px, 1px);
   position: absolute !important;
   height: 1px;
   width: 1px;
   overflow: hidden;
} 
.screen-reader-text:focus {
   clip: auto !important;
   display: block;
   height: auto;
   left: 5px;
   top: 5px;
   width: auto;
   z-index: 100000; /* above all content */
}  